@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #f1f0f0;
    color: #000;
}

/* HEADINGS -------------------------------------------------------*/

h1 {
    font-size: 2.75rem;
    margin: 0;
}

h2 {
    font-size: 2.25rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
    margin: 0;
}

h4 {
    font-size: 1.75rem;
    margin: 0;
}

h5 {
    font-size: 1.25rem;
    margin: 0;
}

/* LINKS -----------------------------------------------------------*/

a {
    text-decoration: none;
    color: #fff;
}

a:hover, a:focus {
    text-decoration: underline;
}

/* BUTTON ----------------------------------------------------------*/

button {
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
}

/* FOOTER ----------------------------------------------------------*/

footer {
    text-align: center;
    width: 100%;
    background-color: #724122;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    background-color: #724122;
    color: #FFF;
}

.open-hours, .social-media {
    background-color: #5c341b;
    padding: 1rem;
    border-radius: 20px;
    flex: 1;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.social-items {
    display: flex;
    align-items: center;
    padding: 10px;
}

.social-items i {
    margin-right: 10px;
}

.open-hours {
    max-width: 500px;
}

.open-hour-locations {
    display: flex;
    align-items: center;
}

.hours {
    padding: 1rem;
}

.copyright {
    background-color: #5c341b;
    color: #FFF;
    padding: 0.3rem;
    margin: 0;
}

/* NAV ------------------------------------------------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem 1rem 1rem;
}
    
.logo {
    cursor: pointer;
    height: 90px;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links li a {
    color: #000;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}

.nav-links li a:hover {
    transition: all 0.2s ease 0s;
    font-weight: bold;
    color: #724122;
    text-decoration: none;
}

/* MEDIA QUERIES----------------------------------------------------*/

/* md */
@media (max-width: 768px) {

    /* NAVBAR --------------------------------------------------------*/

    .logo {
        height: 80px;
    }

    .nav-links li a {
        font-size: 17px;
    }

    /* FOOTER --------------------------------------------------------*/

    .footer-container {
        gap: 2rem;
        padding: 2rem;
    }

    .open-hours {
        font-size: 17px;
        max-width: 400px;
    }

    .open-hours h4 {
        font-size: 1.5rem;
    }

    .hours {
        padding: 1rem;
    }

    .hours h5 {
        font-size: 1.25rem;
    }

    .copyright {
       padding: 0.5rem;
    }
}   

/* sm */
@media (max-width: 640px) {
    
    /* NAVBAR --------------------------------------------------------*/

    header {
        padding: 0.75rem;
        justify-content: flex-start;
    }

    .logo {
        height: 60px;
    }

    .nav-links {
        gap: 0.75rem;
    }

    .nav-links li a {
        font-size: 15px;
    }

    /* FOOTER --------------------------------------------------------*/

    .footer-container {
        gap: 1rem;
        padding: 1.5rem;
    }

    .open-hours {
        font-size: 17px;
        max-width: 350px;
    }

    .open-hours h4 {
        font-size: 1.5rem;
    }

    .hours {
        padding: 0.5rem;
    }

    .hours h5 {
        font-size: 1.25rem;
    }

    .copyright {
       padding: 0.5rem;
    }

    .social-media {
        max-width: 500px;
        flex-direction: row;
        padding: 0.3rem 1rem;
    }
    
    .social-media h4 {
        padding-right: 0.7rem;
    }
    
    .social-items {
        padding-left: 0.5rem;
    }
}

/* xs */
@media (max-width: 475px) {

    /* NAVBAR --------------------------------------------------------*/

    header {
        justify-content: flex-start;
        padding-top: 1rem;
    }

    .logo {
        height: 60px;
    }

    .nav-links {
        gap: 0.75rem;
    }

    .nav-links li a {
        font-size: 14px;
    }
}